/* || general styles */

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
    background-image: url(../images/background2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}




* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  ;
}

.carousel-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.knopvolgende
.knopvorige{
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 20px 5px;
  color: $arrow;
  font-size: 2rem;
}


.knopvorige:hover {
  transform: translateX(-10px) scale(1.2);
}

.knopvolgende:hover  {
  transform: translateX(10px) scale(1.2);
}

.carousel {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}



img {
  max-width: 100%;
  display: none;
  box-shadow: 10px 10px 20px 0 rgba(94,47,59,0.2);
}


@keyframes fadeImg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}