html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

/*achtergrondfoto meegeven die niet repeat*/
body {
    background-image: url(../images/background2.jpg);
    background-repeat: no-repeat;
    background-size: 120%;
}

h1 {
    font-size: 16px;
    text-align: center;
    font-weight: 100;
}

/*De details stylen en centeren*/
h3,
h4,
p {
    font-size: 20px;
    background-color: white;
    margin-top: -2px;
    padding: 2px px 10px 10px;
    text-align: center;
}

.titelpagina {
    color: darkorange;
    font-size: 25px;
    font-weight: 600;
}

/*de styling voor de "meer informatie" button*/
.button {
    cursor: pointer;
    display: absolute;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: darkorange;
    border-radius: 4px;
    padding: 12px 10px;
    margin-bottom: ;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: orange;
}


/*hele article centreren*/
article {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17%;
}

/*margin en padding toevoegen aan de wrapper*/
.wrapper {
    margin: auto;
    padding: 1px 400px 10px 500px
}

/*styling van de next en previous buttons*/
a {
    color: darkorange;
    text-decoration: none;
    font-size: 2rem;
    padding: 5px 10px;
    position: absolute;
    cursor: pointer;
    background-color: white;
    border-radius: 45px;

}

a.previous {
    margin-left: -50px;
    margin-top: 325px;
}

a.next {
    margin-left: 430px;
    margin-top: 325px;
}


/*Zorgen dat de puntjes weggaan van de unorded list*/
.slider-nav ul {
    list-style: none;
}

/*article staat op display none zodat de rest niet wordt weergegeven*/
article {
    max-width: 100%;
    display: none;
}

article.active {
    display: block;
}


article.active .meerInformatie.active {
    display: block;
}

article.active .meerInformatie {
    display: none;
}

.slider-nav a {
    flex-basis: 100%;
    display: flex;

}

.slider-nav span {
    display: block;
    width: 100%;
}

/*Gifje centeren stylen*/

.loadinggif {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/*Gifje staat op display none wanneer deze niet actief is*/
.loading-gif {
    display: none;
}

/*Gifje staat op display block wanneer deze wel actief is*/
.loading-gif.active {
    display: block;
}
